<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud Hospital</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script  >

        function fetchPatients() {
            const patients = fetch("http://127.0.0.1:8080/patients",{
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json()).then(
                data=> {
                    this.patients = data;
                }
            ).catch(error => console.error('Error:', error));
        }
        function postPatient(patient) {
            fetch("http://127.0.0.1:8080/patients/createPatient", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        body: JSON.stringify(patient)}).then(response => console.log(response)).catch(error => console.error('Error:', error));
            this.patients.push(patient)
        }
        function upPatient(patient,id) {
            fetch(`http://127.0.0.1:8080/patients/${id}/updateInfo`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(patient)
            })
                .then(response => response.json()).catch(error => console.error('Error:', error));
        }
        function deletePatient(id) {
            fetch(`http://127.0.0.1:8080/patients/delete/${id}`, {
                method: 'DELETE'
            }).catch(error => console.error('Error:', error));
        }
    </script>
    <script src="https://unpkg.com/petite-vue" defer init></script>
</head>
<body>
<nav>
    <ul>
        <li><strong>Acme Corp</strong></li>
    </ul>
    <ul>
        <li><a href="/index.html">Patients</a></li>
        <li><a href="/doctors.html">Doctors</a></li>
        <li><a href="#">Appointments</a></li>
    </ul>
</nav>
<div>
    <main class="container">
        <h1>Patient CRUD</h1>
    <section v-scope="{fetchPatients, updatePatientData: {
        name: { firstName: '', lastName: '' },
        age: '',
        email: '',
        gender: '',
        dateOfBirth: '',
        nationalHealthNumber: ''
    },isUpdating:false,
    updateId:null,
    updatePatient(){
        upPatient(this.updatePatientData,this.updateId);
        patients = patients.map((patient) => (patient.id === this.updateId ? {...patient, ...this.updatePatientData }: patient))

        },
 showUpdateForm(patient, id) {
        this.updatePatientData = JSON.parse(JSON.stringify(patient));
        this.isUpdating = true;
        this.updateId = id;
    },
    submitUpdate() {
        this.updatePatient(this.updatePatientData, this.updateId);
    },
    deleteId:null,
    remove(id) {
        console.log('Im called');
        deletePatient(id);
        fetchPatients();
    }}"  @vue:mounted="fetchPatients()">
        <section v-scope="{postPatient,
 patient: { name: { firstName: '', lastName: '' }, age: '', email: '', gender: '', dateOfBirth: '', nationalHealthNumber: '' }
 ,patients: []}" >
            <form @submit.prevent="postPatient(patient)">
                <label>
                    First Name:
                    <input v-model="patient.name.firstName">
                </label>

                <label>
                    Last Name:
                    <input v-model="patient.name.lastName">
                </label>

                <label>
                    Age:
                    <input type="number" v-model="patient.age">
                </label>

                <label>
                    Email
                    <input type="email" v-model="patient.email">
                </label>

                <label>
                    Gender:
                    <label>
                        Male:
                        <input v-model="patient.gender" type="radio" value="MALE" >
                    </label>
                    <label>
                        Female:
                        <input v-model="patient.gender" type="radio" value="FEMALE" >
                    </label>
                    <label>
                        Other:
                        <input v-model="patient.gender" type="radio" value="OTHER" >
                    </label>

                </label>

                <label>
                    Date of Birth:
                    <input v-model="patient.dateOfBirth">
                </label>

                <label>
                    National Health Number:
                    <input v-model="patient.nationalHealthNumber">
                </label>

                <button type="submit">Create Patient</button>
            </form>

        </section>
        <section >
            <h2>Patitent List</h2>
            <div class="grid" style="grid-template-columns: auto auto">
                <template v-for="patient in patients">
                    <article>
                        <strong>Name: </strong> {{ patient.name.firstName }} {{ patient.name.lastName }}<br>
                        <strong>Email: </strong> {{ patient.email }} <button style="margin:30px" @click="showUpdateForm(patient,patient.id)">Update Patient Info</button> <br>
                        <strong>National Health Number</strong> {{ patient.nationalHealthNumber}}<button style="margin:30px" @click="console.log('Remove button clicked'); remove(patient.id)">Remove Patient</button><br><br>
                    </article>

                </template>
            </div>
        </section>
        <section v-if="isUpdating">
            <h3>Update Patient</h3>
            <form @submit.prevent="submitUpdate">
                <label>
                    First Name:
                    <input v-model="updatePatientData.name.firstName">
                </label>
                <label>
                    Last Name:
                    <input v-model="updatePatientData.name.lastName">
                </label>
                <label>
                    Age:
                    <input type="number" v-model="updatePatientData.age">
                </label>
                <label>
                    Email
                    <input type="email" v-model="updatePatientData.email">
                </label>
                <label>
                    Gender:
                    <label>
                        Male:
                        <input v-model="updatePatientData.gender" type="radio" value="MALE">
                    </label>
                    <label>
                        Female:
                        <input v-model="updatePatientData.gender" type="radio" value="FEMALE">
                    </label>
                    <label>
                        Other:
                        <input v-model="updatePatientData.gender" type="radio" value="OTHER">
                    </label>
                </label>
                <label>
                    Date of Birth:
                    <input v-model="updatePatientData.dateOfBirth">
                </label>

                <label>
                    National Health Number:
                    <input v-model="updatePatientData.nationalHealthNumber">
                </label>
                <button type="submit">Update Patient</button>
                <button @click="isUpdating = false">Cancel</button>
            </form>
        </section>
    </section>
    </main>
</div>
</body>
</html>